body {
    display: inline-block;
    background-image: url(principal1.jpg); 
    font-family: sans-serif;
    }

nav {
    position:absolute;
    top: 150px;
    display: flex;
    justify-content: space-evenly;
    }

nav li { 
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
    top: 350px;
    left: 210px;
    right: 150px;
    width: 940px;
    }

nav a { 
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: goldenrod;
    border-radius: 5px;
    text-align: center;
    font-size: 20px; 
    padding: 20px;
    }

footer {
    background-color: black;
    color: burlywood;
    font-size: 10px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 350px;
    }


heather.frase {
    display: inline;
    position: absolute;
    background-color:black;
    font-size: 25px;
    color: goldenrod;
    text-align: center;
    border-radius: 10px;
    margin:50px auto 150px auto;
    width: 1000px;
    }

nav.botao { 
    display: flex;
    justify-content: center;
    width:150px;
    text-transform: uppercase;
    background-color: black;
    color: goldenrod;
    border-radius: 10px;
    position:relative;
    margin: 450px 0px 100px 400px;
    }

  
.apresentacao { 
    display: flex;
    background-color:black;
    font-size: 23px;
    color: goldenrod;
    text-align: center;
    border-radius: 10px;
    position:absolute;
    margin: 300px auto 0px auto;
    }

.botao:hover { 
    font-size: 25px;
    transition-duration: 0.2s;
    }

a:hover { 
    font-size: 25px;
    transition-duration: 0.2s;
    }
    

li#rock:hover {
    font-size: 25px;
    transition-duration: 0.2s;
    } 

li#sertanejo:hover {
    font-size: 25px;
    transition-duration: 0.2s;
    }

li#pop:hover {
    font-size: 25px;
    transition-duration: 0.2s;
    }

footer#reservado {
    margin-top: 680px;
}


