body {display: inline-block;
    background-image: url(principal1.jpg); 
}


nav {
    position:absolute;
    top:250px  ;
    width: 940px;
    display: flex;
    justify-content: space-evenly;
}
nav li { 
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
   
    }


nav a { 
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: goldenrod;
    border-radius: 5px;
    text-align: center;
    font-size: 25px; 
    padding: 20px;

   }

.frase {
    display: inline;
    position: relative;
    background-color:black;
    font-size: 25px;
    color: goldenrod;
    text-align: center;
    border-radius: 10px;
      
}


.apresentacao { 
    display: flex;
    background-color:black;
    font-size: 23px;
    color: goldenrod;
    text-align: center;
    border-radius: 10px;
    position:relative;
    margin: 100px auto 100px auto;
}


.botao { 
    display: flex;
    justify-content: center;
    width:150px;
    text-transform: uppercase;
    background-color: black;
    color: goldenrod;
    border-radius: 10px;
    position:relative;
    margin: 200px auto 100px auto;
    }

.botao:hover { 
    font-size: 25px;
    transition-duration: 0.2s;
    }

