body {
    display: inline-block;
    background-image: url(principal1.jpg);
    font-family: sans-serif;
}

nav a { 
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: goldenrod;
    border-radius: 5px;
    text-align: center;
    font-size: 20px; 
    padding: 20px;
     }

nav.botao {
    position: absolute;
    top: 650px;
    left: 350px;
    display: flex;
    justify-content: space-evenly;
    }

heather.frase { 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color:black;
    font-size: 25px;
    color: goldenrod;
    text-align: center;
    border-radius: 10px;
    margin-top: 200px;
    width: 940px;
        }

#inicio:hover {
    font-size: 23px;
    color:cornflowerblue;
    transition-duration: 0.2s;
    }

#inicio:checked {
    color:cornflowerblue;
    }


